# GitHub OAuth Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Application URL (Injected by platform, but useful for local testing)
APP_URL=https://ais-dev-h5xq2fhp34ibhkg57dzftu-49093748269.europe-west1.run.app

# Gemini API Configuration
GEMINI_API_KEY=
